## Vim
*~

## Visual Studio
# User-specific files
*.suo
*.user
*.userprefs
packages/
# Build results
[Bb]in
[Oo]bj
[Dd]ebug/
[Rr]elease/
*.obj
*.tmp
.builds
*.dotCover
# Others
test-results
TestResults

## Operating system cruft.
Thumbs.db
Desktop.ini
.DS_Store
